.checkoutProduct {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 600;
}

.checkoutProduct__image {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__info>button {
    background: #ffd814;
    border: 1px solid #ffd814;
    margin-top: 10px;
    padding: 21px 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: black;
    border-radius: 5px;
}

.checkoutProduct__info>button:hover {
    background: #f7ca00;
}

.checkoutProduct__info>button:active {
    background: #ffd814;
}