.checkoutProduct {
    display: flex;
    margin-top: 10px;
    border: 2px solid black;
}

.checkoutProduct__left {
    display: flex;
    flex-direction: column;
}

.checkoutProduct__left>img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__button {
    background: #ffd814;
    border: 1px solid #ffd814;
    margin-top: 10px;
    padding: 21px 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: black;
    border-radius: 20px;
}

.checkoutProduct__button:hover {
    background: #f7ca00;
}

.checkoutProduct__button:active {
    background: #ffd814;
}